// Utils classes:
.underlined {
  position: relative;

  &::after {
    content: ' ';
    height: 2px;
    background: $yellow;
    width: 100%;
    top: 100%;
    left: 0;
    position: absolute;
  }
}

.yellow-dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  vertical-align: middle;
  background: $yellow;
}

.text-white-deep,
.text-white-deep * {
  color: $white !important;
}

a {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: $yellow;
}
a.link-unstyled {
  text-decoration: none !important;
}

.custom-scrollbar {
  scrollbar-color: $primary;
  scrollbar-width: auto;

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
  }
}