// Utils classes:
.underlined {
  position: relative;

  &::after {
    content: ' ';
    height: 2px;
    background: $yellow;
    width: 100%;
    top: 100%;
    left: 0;
    position: absolute;
  }
}

.yellow-dot {
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 5px;
  vertical-align: middle;
  background: $yellow;
}

.text-white-deep,
.text-white-deep * {
  color: $white !important;
}

a {
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: $yellow;
}
a.link-unstyled {
  text-decoration: none !important;
}

.custom-scrollbar {
  scrollbar-color: $primary;
  scrollbar-width: auto;

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
  }
}

.maxw-50 {
  max-width: 50% !important;
}
.maxw-75 {
  max-width: 75% !important;
}
.maxw-100 {
  max-width: 100% !important;
}

.maxw-400 {
  max-width: 400px !important;
}
.maxw-800 {
  max-width: 800px !important;
}

@each $color, $value in $custom-theme-colors {
  .link-#{$color} {
    font-weight: 800 !important;
    text-decoration: none !important;
  }
}

.font-headings {
  font-family: $font-family-sans-serif-headings !important;
}
.font-serif {
  font-family: $font-family-serif !important;
}
