.picture-overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    opacity: 1;
  }

  .bg {
    position: absolute;
    inset: 0;
    opacity: 0.5;
    cursor: pointer;
  }
}

.fullscreen-picture {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: $zindex-modal-backdrop;

  & > .bg {
    position: absolute;
    inset: 0;
    opacity: 0.9;
  }

  & > .content {
    position: absolute;
    inset: 2em;
    top: 4em;
    display: flex;
    flex-direction: column;

    & > * {
      flex-grow: 0;
      flex-shrink: 0;
    }
    & > .iframe-wrapper {
      background-color: #E9E9ED;
    }
    & > .iframe-wrapper,
    & > .img-wrapper {
      flex-grow: 1;
      flex-shrink: 1;
      position: relative;

      & > img,
      & > iframe {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .legend {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .legend-item {
        display: flex;
        align-items: baseline;
        width: fit-content;
        margin-left: 1rem;
        .legend-color {
          width: 0.8rem;
          height: 0.8rem;
        }
        .legend-item-label {
          margin-left: 0.5rem;
        }
      }
    }
  }

  & > .btn-close {
    position: absolute;
    top: 2em;
    right: 2em;
  }
}
