.story-banner {
  min-height: 400px;
  padding: 5em 0;
}

.sections {
  section {
    margin: 6em auto;
  }

  @include media-breakpoint-up(lg) {
    section:not(.large) {
      margin-left: 0;
      width: 75%;

      &:nth-child(2n) {
        margin-left: 25%;
      }
    }
  }
}

.figure-container {
  background: #f8f8f8;
  margin: 3em auto;
  padding: 3em 0;
}

.footnote {
  font-size: small;
  padding: 0 4px;
}

.refnote {
  padding: 0 4px;
}

.spectacles .text-white {
  color: black!important;
  font-weight: bold;
}
